.wrapper {
  /* width: 30vw; */
  min-width: 300px;
  margin: 0 4vw;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.wrapper img {
  /* width: 100%; */
  /* height: auto; */
  height: 30vw;
  min-height: 400px;
  width: auto;
}

.wrapper figcaption {
  display: block;
}

.wrapper.top {
  align-self: flex-start;
}

.wrapper.bottom {
  align-self: flex-end;
}

@media only screen and (max-width: 992px) {
  .wrapper img {
    height: 60vh;
  }
}
