.wrapper {
  margin: 0 4vw;
}

.wrapper img {
  height: 28vw;
  min-height: 400px;
  width: auto;
}

.wrapper figcaption {
  margin-top: 12px;
}

.wrapper.top {
  align-self: flex-start;
}

.wrapper.bottom {
  align-self: flex-end;
}
